<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>graffiti</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; z-index: 0;}
      .leaflet-popup-content img { max-width:100%; }
      .attachment-full {
        overflow: visible;
        z-index: 999;
      }
    </style>
  </head>
  <body>
    <div id='map'/>
    <a href="https://github.com/romanblanco/graffiti"><img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_left_darkblue_121621.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
    <script>
      L.mapbox.accessToken = "<%= token %>";
      var geoJson = <%= data %>;
      var map = L.mapbox.map('map', 'mapbox.streets').setView([10, 0], 2);
      var myLayer = L.mapbox.featureLayer().addTo(map);
      myLayer.on('layeradd', function(e) {
        var marker = e.layer,
            feature = marker.feature;
        var popupContent = '<a target="_blank" class="popup" href="' + feature.properties.url + '">' +
                               '<img src="' + feature.properties.image + '" />' +
                           '</a>' +
                           '<p>Date: ' + feature.properties.date + '</p>' +
                           '<p>IPFS: <a href="https://ipfs.io/ipfs/' + feature.properties.ipfs + '">ipfs.io</a></p>' +
                           (feature.properties.surface == null ? '' : ('<p>Surface: <a href="https://osm.org/' + feature.properties.surface + '"> '+ feature.properties.surface + '</a></p>')) +
                           '<p>Plus: <a href="https://www.google.com/maps/search/?api=1&query='+feature.properties.olc +'">maps ('+ feature.properties.olc +')</a></p>' +
                           '<p>GPS: <a href="https://www.google.com/maps/search/?api=1&query='+feature.properties.gps_latitude+','+ feature.properties.gps_longitude + '">maps</a></p>';
        // http://leafletjs.com/reference.html#popup
        marker.bindPopup(popupContent,{
            closeButton: false,
            minWidth: 320
        });
      });
      // Add features to the map
      myLayer.setGeoJSON(geoJson);
    </script>
  </body>

</html>
