<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>EXIF GPS map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
      .leaflet-popup-content img { max-width:100%; }
    </style>
  </head>
  <body>
    <div id='map'/>
    <script>
      L.mapbox.accessToken = "<%= token %>";
      var geoJson = <%= data %>;
      var map = L.mapbox.map('map', 'mapbox.streets').setView([49.223, 16.605], 12);
      var myLayer = L.mapbox.featureLayer().addTo(map);
      myLayer.on('layeradd', function(e) {
        var marker = e.layer,
            feature = marker.feature;
        var popupContent = '<a target="_blank" class="popup" href="' + feature.properties.url + '">' +
                               '<img src="' + feature.properties.image + '" />' +
                           '</a>' +
                           '<p>Date: ' + feature.properties.date + '</p>' +
                           '<p>IPFS: <a href="https://ipfs.io/ipfs/' + feature.properties.ipfs + '">ipfs.io</a></p>' +
                           '<p>Plus: <a href="https://www.google.com/maps/search/?api=1&query='+feature.properties.plus+'">maps ('+ feature.properties.plus +')</a></p>' +
                           '<p>GPS: <a href="https://www.google.com/maps/search/?api=1&query='+feature.properties.gps_latitude+','+ feature.properties.gps_longitude + '">maps</a></p>';
        // http://leafletjs.com/reference.html#popup
        marker.bindPopup(popupContent,{
            closeButton: false,
            minWidth: 320
        });
      });
      // Add features to the map
      myLayer.setGeoJSON(geoJson);
    </script>
  </body>
</html>
